.logo {
    width: 134px;
    line-height: 1;

    span {
        display: block;
        font-family: 'Post No Bills Jaffna';
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 10px;
    }

    p {
        font-family: 'Raleway';
        font-size: 12px;
        text-transform: uppercase;
    }
}